@media(min-width:576px)
{
    .book
    {
        position: relative;
        top: 50%;
        margin-top:200px;
        width: auto;
        height: 500px;
    }
    .book img
    {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .btn_book
    {
        position: absolute;
        bottom: 0.15%;
        left: 35%;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 228, 53);
        width:300px;
        height:50px;
        font-size: 20px;
        border-radius: 5px;
    }
    .btn_kakao
    {
        position: absolute;
        bottom: 40%;
        left: 35%;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 228, 53);
        width:300px;
        height:50px;
        font-size: 20px;
        border-radius: 5px;
    }
}

@media(max-width:576px)
{
    .book
    {
        position: relative;
        width: auto;
        height: 200px;
    }
    .book img
    {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 200px;
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }
    .btn_book
    {
        height: 25px;
        position: absolute;
        top: 80%;
        left: 25%;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 228, 53);
        border-color:  rgb(255, 228, 53);
        font-size: 10px;
        border-radius: 5px;
    }
    .btn_kakao
    {
        height: 25px;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 228, 53);
        border-color:  rgb(255, 228, 53);
        font-size: 10px;
        border-radius: 5px;
    }
}